{{#eq type "heading-one"}}
    <div class="avoid-page-break">
        <h2 class="element-overskrift">{{ this.text }}</h2>
    </div>
{{/eq}}
{{#eq type "paragraph"}}
    <p>{{ this.text }}</p>
{{/eq}}