<!DOCTYPE html>
<html lang="nb-NO">
    <head>
        <meta charset="UTF-8"/>
        <title>{{> doctitle}}</title>
        <meta name="description" content="{{> docdescription}}"/>
        <meta name="subject" content="{{> docsubject}}"/>
        <meta name="author" content="NAV IT"/>
        {{#block 'aap-saksbehandling-pdfgen/brev-partials/style' }}
        {{/block}}
    </head>
    <body>
        <main>
        <div class="header">
            <img class="navLogo" alt="nav logo" src="{{ image "navlogored.png" }}" />

            {{#eq mottaker.identType "FNR"}}
                {{> aap-saksbehandling-pdfgen/brev-partials/mottakerfnr this}}
            {{/eq}}
            {{#eq mottaker.identType "HPRNR"}}
                {{> aap-saksbehandling-pdfgen/brev-partials/mottakerhprnr this}}
            {{/eq}}

        </div>
        <div class="title-wrapper">
            <h1>{{> overskrift }}</h1>
        </div>
        <div class="container">
            {{#each tekstbolker}}
                {{#if this.overskrift}}
                    <h2>{{ this.overskrift }}</h2>
                {{/if}}
                <div class="blokk avoid-page-break">
                    {{#each this.innhold}}
                        {{> aap-saksbehandling-pdfgen/brev-partials/innhold this}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
        </main>
    </body>
</html>