<div class="signatur-wrapper avoid-page-break">
    <p>Med vennlig hilsen</p>
    {{#each signaturer}}
        <div class="signatur">
            <p>{{navn}}</p>
            <p>{{enhet}}</p>
        </div>
    {{/each}}
</div>