<!DOCTYPE html>
<html lang="nb-NO">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="NAV IT"/>
    <title>Nye opplysninger på sak {{ sakId }}</title>
    {{#block 'notat/partials/style'}}
    {{/block}}
</head>
<body>
<main>
    <div class="header">
        <img class="navLogo" alt="nav logo" src="{{ image "navlogored.png" }}" />
    </div>

    <div class="container">
        <h1>Nye opplysninger på sak {{ sakId }}</h1>

        <!-- TODO: Mappe nye opplysninger -->
    </div>
</main>
</body>
</html>