{{#eq type "heading"}}
    {{#eq this.attrs.level 1}}
            <h1 class="element-overskrift">
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/blokkpartial this}}
            </h1>
    {{/eq}}
    {{#eq this.attrs.level 2}}
            <h2 class="element-overskrift">
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/blokkpartial this}}
            </h2>
    {{/eq}}
    {{#eq this.attrs.level 3}}
            <h3 class="element-overskrift">
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/blokkpartial this}}
            </h3>
    {{/eq}}
    {{#eq this.attrs.level 4}}
            <h4 class="element-overskrift">
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/blokkpartial this}}
            </h4>
    {{/eq}}
{{/eq}}
{{#eq type "bulletList"}}
    {{> aap-saksbehandling-pdfgen/fellesmodell-partials/bulletlistpartial this}}
{{/eq}}
{{#eq type "orderedList"}}
    {{> aap-saksbehandling-pdfgen/fellesmodell-partials/orderedlistpartial this}}
{{/eq}}
{{#eq type "paragraph"}}
    <p>
        {{> aap-saksbehandling-pdfgen/fellesmodell-partials/blokkpartial this}}
    </p>
{{/eq}}
