{{#each content as |child|~}}
    <li>
        {{#each child.content as |listelement|~}}
            {{#eq listelement.type "bulletList"}}
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/bulletlistpartial listelement}}
            {{/eq}}
            {{#eq listelement.type "orderedList"}}
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/orderedlistpartial listelement}}
            {{/eq}}
            {{#eq listelement.type "paragraph"}}
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/blokkpartial listelement}}
            {{/eq}}
            {{#eq listelement.type "text"}}
                {{> aap-saksbehandling-pdfgen/fellesmodell-partials/blokkpartial listelement}}
            {{/eq}}
        {{/each}}
    </li>
{{/each}}
