{{#each content as |child|~}}
    <li>
        {{#each child.content as |listelement|~}}
            {{#eq listelement.type "bulletList"}}
                {{> aap-saksbehandling-pdfgen/tiptap-partials/bulletlistpartial listelement}}
            {{/eq}}
            {{#eq listelement.type "orderedList"}}
                {{> aap-saksbehandling-pdfgen/tiptap-partials/orderedlistpartial listelement}}
            {{/eq}}
            {{#eq}}
                {{> aap-saksbehandling-pdfgen/tiptap-partials/blokkpartial listelement}}
            {{/eq}}
        {{/each}}
    </li>
{{/each}}
